# copy docker compose env vars to so psql commands work
export PGHOST=$POSTGRES_HOSTNAME
export PGUSER=$POSTGRES_USER
export PGDATABASE=$POSTGRES_DB
export PGPASSWORD=$POSTGRES_PASSWORD
export PGPORT=5432

# dbmate needs this
export DATABASE_URL=postgres://$POSTGRES_USER@$POSTGRES_HOSTNAME:5432/$POSTGRES_DB?sslmode=disable

export GOOSE_DRIVER=postgres
export GOOSE_DBSTRING="user=$POSTGRES_USER password=$POSTGRES_PASSWORD dbname=$POSTGRES_DB sslmode=disable" goose status
export GOOSE_MIGRATION_DIR=db/migrations
